$!webResourceManager.requireResource("com.synergyapps.plugins.jira.timepo-timesheet-plugin:timepo-timesheet-plugin-resources")

<br>
#set ($totalColumnCount = $worklogContext.daysCount+3)
#set ($userIssuesByUserName = $worklogContext.buildMapFromUserToHisIssues())

<div style="width: 100%; overflow-x: auto">
    <table border="0" cellpadding="3" cellspacing="1" class="main">
        #foreach($userName in $worklogContext.users)

            #set($issues = $userIssuesByUserName.get($userName))
            <tr>
                <td class="main" colspan="$totalColumnCount" style="text-align: left"><b>User:</b> $userName</td>
            </tr>
            #parse('/templates/reports/timesheet-report/total.vm')

            <tr class="main">
                <th class="main">Project</th>
                <th class="main">Issue</th>
                #foreach($day in $daysList)
                    <th class="main">$day.dayOfWeekName<br>$day.dayAndMonth</th>
                #end
                <th class="main">Total</th>
            </tr>

            #foreach($issue in $issues)
                <tr class="main">

                    #if($forExcel=="true")
                        <td class="main">
                            $issue.projectObject.name
                        </td>
                        <td class="main">
                            <table>
                                <tr>
                                    <td width="20%">
                                        $issue.key
                                    </td>
                                    <td>$issue.summary</td>
                                </tr>
                            </table>
                        </td>
                    #else
                        <td class="main">
                            <a href="$baseurl/browse/$issue.projectObject.key">$issue.projectObject.name</a>
                        </td>
                        <td class="main">
                            <table>
                                <tr>
                                    <td width="5%">#displayType($issue)</td>
                                    <td width="20%">
                                        <a href="$baseurl/browse/$issue.key">$issue.key</a>
                                    </td>
                                    <td>$issue.summary</td>
                                </tr>
                            </table>
                        </td>
                    #end

                    #foreach($timeSpent in $worklogContext.issueItemByIssue.get($issue).worklog.get($userName))
                        <td class="main">$textUtil.worklogPrettyPrint($timeSpent)</td>
                    #end
                    <td class="main">$textUtil.worklogPrettyPrint($worklogContext.issueItemByIssue.get($issue).worklogByThisUser($userName))</td>
                </tr>

                #if($showWorklogComments)
                    <tr>
                        <td colspan="2" class="main"></td>
                        #foreach($comments in $worklogContext.issueItemByIssue.get($issue).worklogCommentsForThisUser($userName))
                            <td class="main_worklog_comment">
                                #foreach($comment in $comments)
                                    $comment<br>
                                #end
                            </td>
                        #end
                        <td class="main"></td>
                    </tr>
                #end
            #end

            #parse('/templates/reports/timesheet-report/total.vm')
        #end
    </table>
</div>
